body {
  padding-top: 50px;
}

.intro {
  padding: 20px 15px;
  text-align: center;
}

.bg-danger > p {
  padding: 10px;
}

.top-row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.top-row h3 {
  margin-top: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#incomingCall {
  position: absolute;
  top: 60px;
  z-index: 100;
  left: auto;
  right: auto;
  width: 300px;
}

#dropzone {
  border: 2px dashed #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  font: 20pt bold;
  color: #bbb;
  margin: 20px 0;
}

#recvImgs > img, #recvImgs > span {
  height: 100px;
  margin: 0 10px 10px 0;
  padding: 2px;
  border: 1px solid #eee;
  float: left;
  cursor: pointer;
}

#log {
  height: 250px;
  overflow-y: auto;
  font-size: 12px;
  border: 1px solid #eee;
  padding: 4px;
}
